<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <body>
    <app-quotes-navbar></app-quotes-navbar><br><br>
    <div class="row container">
      <div class="col-md-4">
        <app-quotes-form (addquote)="addNewquote($event)"></app-quotes-form>
      </div>
      <div class="col-md-7" ><br><br>
        <ul class="wiseQuotes">
          <div *ngFor='let quote of quotes;let i=index'>{{quote.author}} posted on  {{quote.time|date}}. <em>{{quote.time|dateCount}} days ago</em> <br> {{quote.content}} <br>
            <app-votecount></app-votecount>
            <hr></div>
        </ul>
        <div>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>
